

body{font-size: 1.6rem; line-height: 1.2;}
.inner{max-width: 1740px; margin: 0 auto; padding: 0 20px;}

#header{position: fixed; left: 0; top: 0; width: 100%; height: 75px; z-index: 100; background: #000;padding: 20px 0 60px;  }
#header .inner{max-width: 1740px; display: flex; margin: 0 auto;position: relative; align-items: center; }

h1{max-width: 120px; margin-right: 100px;}
h1 img{width: 100%;padding-bottom: 10px;}

#header .gnb{display: flex;  gap: 20px; }
#header .gnb > li{  padding: 5px 20px ; font-size: 1.8rem; color: #fff; cursor: pointer; position: relative;}



#header .btn_ham{ background: transparent; border: 0;cursor: pointer;right: 100px; display: none; margin-left: auto; right: 100px;}

@media(max-width: 1540px){
    #header h1{max-width: 100px; transition: all 0.5s;}
    #header .gnb{display: none;}
    #header .util li{display: none;}
    #header .util .lan{display: none;}
    #header .btn_ham{display: block;position: absolute;right: 20px;top: 50%;transform: translateY(-50%);}
}



#header .btn_search{background: none; border: none; cursor: pointer;}
/* depth2 */
#header .gnb .depth2{position: absolute; left: 0; top: 20px; width: 200px; display: none; color: #000; background: none; color: var(--background-color);padding: 30px 0; z-index: 30;}
#header .gnb .depth2 li{ background: #000;  padding: 10px;}
#header .gnb .depth2 li:hover{background: #f00; padding: 15px 10px; transition: all 0.3s; color: #eee;}
#header .gnb .depth2 .otherlink{background: #eee; color: #000; font-weight: 500;}
#header .gnb li:hover .depth2{display: block;}



#header .util{display: flex; gap: 20px; position: absolute; right: 0; top: 0;}
#header .util .util_con{display: flex; gap: 10px; align-items: center;  }
#header .util .util_con li:first-of-type a{display: block;max-width: 42px; }
#header .util .util_con li{width: 50px; }
#header .util .util_con img{width: 100%;  }

#header .lan {align-items: center; position: relative; display: inline-flex; border: 2px solid #f00;border-radius: 30px;height: 35px; }
.lan input[type="radio"] {display: none;}
.lan label {display: flex; align-items: center;padding: 0 20px;height: 100%;cursor: pointer;z-index: 10;position: relative;color: #f00;transition: color 0.3s ease; min-width: 80px;font-size: 1.8rem;}

.toggle-slider {position: absolute;top: 0;left: 0;width: 50%;
height: 100%; background-color: #f00;border-radius: 30px;z-index: 5; transition: all 0.5s ; }
.lan input#lang-ko:checked ~ .toggle-slider {transform: translateX(0);}
.lan input#lang-ko:checked + label {color: #fff;}

.lan input#lang-en:checked ~ .toggle-slider {transform: translateX(100%);}
.lan input#lang-en:checked + label {color: #fff;}



/* footer */



#footer {background: #F0F0F0;width: 100%; height: auto; padding: 50px 0; color: #666666; font-size: 1.4rem;}
#footer .inner{max-width: 1840px;}
#footer .subscribe {display: grid; grid-template-columns: 1fr 1fr 1fr; align-items: center;}
.subscribe  .sns{display: flex;gap: 20px; margin-left: 20px;}
.subscribe  .sns li{width: 50px; }
.subscribe  .sns li img{width: 100%;}

.subscribe form{text-align: right; margin-bottom: 50px;}
.subscribe form input{margin-top: 20px;}
.subscribe select{padding: 5px 30px;background: transparent; border-radius: 30px; text-align: center;border: none; outline: none; appearance: none; font-size: 1.8rem; color: #666;}
.subscribe .dropdown-menu {border: none;}
.subscribe form input[type="email"]{  background: #eee;border: 1px solid #ddd; border-radius: 30px; outline: #f00; padding: 5px 15px  ; color: #f00;}
.subscribe form input[type="submit"]{ margin-left: 10px; background: transparent; color: #000;;cursor: pointer;border: 1px solid #f00; padding: 5px 15px; border-radius: 30px; color: #f00; font-weight: 500;}
.subscribe form input[type="submit"]:hover{border: 1px solid var(--sub-color-r); background: var(--sub-color-r);color: var(--background-color); transition: all 0.5s;}

#footer .footer_bottom{display: grid; grid-template-columns: 1fr auto; margin-top: 20px;}
#footer .footer_txt{display: flex;justify-content: space-between;flex-wrap: wrap; padding: 0 20px; max-width: 950px;}
#footer .footer_txt p {padding-bottom: 5px; line-height: 1.5;}
#footer .footer_aboutright{text-align: right; }
#footer  .footer_gv{display: flex; column-gap: 30px; justify-content: flex-end;}
#footer  .footer_gv li a{ display: block; width: auto; height: 40px;}
#footer  .footer_gv li a img{width: 100%; height: 100%; object-fit: contain;}
#footer .use_info{ display: flex; justify-content: flex-end; gap: 20px;padding: 5px 0;}

@media(max-width: 1240px){
    #footer .subscribe{display: grid ; grid-template-columns: 1fr; justify-items: center;}
    .subscribe  .sns{margin-bottom: 50px; text-align: center;}
    .subscribe  .sns li{width: 40px; }
    .subscribe select{margin: 0 30px 50px 0; display: block; }
    .subscribe form{text-align: center;padding-bottom: 10px; }
    .subscribe form p{margin-top: 10px;}
    #footer .footer_bottom{display: grid; grid-template-columns: 1fr ; font-size: 1.2rem;}
    #footer .footer_txt{display: block; margin-bottom: 75px; }
    #footer  .footer_gv li a{ height: 30px;}
}