@charset "utf-8";

@font-face {
    font-family: "GO BOLD";
    src: url(../font_gobold/Gobold\ Thin.otf) format("woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "GO BOLD";
    src: url(../font_gobold/Gobold\ Regular.otf) format("woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "GO BOLD";
    src: url(../font_gobold/Gobold\ Lowplus.otf) format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "GO BOLD";
    src: url(../font_gobold/Gobold\ Light.otf) format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "GO BOLD";
    src: url(../font_gobold/Gobold\ Hollow\ Bold.otf) format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "GO BOLD";
    src: url(../font_gobold/Gobold\ Bold.otf) format("woff");
    font-weight: 600;
    font-style: normal;
}