:root{
    --main-color-or:#ff6700;
    --sub-color-r:#ff0000;
    --sub-color-p:#ff4fc7;
    --sub-color-bl:#00b3ff;
    --sub-color-g:#00c415;
    --background-color:#f5f5f5;
}





body{font-size: 1.6rem; line-height: 1.2;}
.inner{max-width: 1740px; margin: 0 auto; padding: 0 20px;}

 #wrap #main{ background: var(--background-color); overflow: hidden; }

#main .inner .search{ padding: 247px 0 ; text-align: center; background: #f5f5f5;}
#main .inner  .search button{background: inherit; padding: 0 10px 10px; font-size: 2.5rem; font-weight: 600;cursor: pointer;}
#main .inner  .search button:hover{color: var(--sub-color-r);}
#main .inner  .search .input_box{padding: 5px; border-radius: 100px; background: var(--main-color-or); width: clamp(320px,80%,800px); margin: 0 auto;}/* [ width: 80%; max-width: 1000px;][width: clamp(min-with,width,max-width);] */
#main .inner  .search input[type="text"]{padding: 0 20px; width: calc(100% - 55px); background: transparent; font-size: 2rem; outline: none; color: #f8f8f8; }
#main .inner  .search input[type="text"]::placeholder{color: #fff;}
#main .inner  .search input[type="submit"]{width: 50px;height: 50px; background:var(--main-color-or)  url(../img/logo/i_search_w.svg) no-repeat center / 30px; border-radius: 50%; font-size: 0; cursor: pointer; }

