:root{
    --main-color-or:#ff6700;
    --sub-color-r:#ff0000;
    --sub-color-p:#ff4fc7;
    --sub-color-bl:#00b3ff;
    --sub-color-g:#00c415;
    --background-color:#f5f5f5;
}





body{font-size: 1.6rem; line-height: 1.2;}
.inner{max-width: 1740px; margin: 0 auto; padding: 0 20px;}
 #wrap #main{ background: var(--background-color); overflow: hidden;}

 /* visual */
.visual{margin: 0 auto ; position: relative ; display: grid; grid-template-columns: 75% 25%; height: 100vh; }
.visual .inner{max-width: 1740px;   padding: 50px 0;z-index: 20;}
.visual .visual_main {position: relative;padding-bottom: 50%;  height: 100%; }

.visual .visual_main .visual_swiper {position: absolute; top: 0; left: 0; width: 100%;height: 100%;overflow: hidden;}
.visual_swiper li img {width: 100%; height: 100%;object-fit: cover;}
.visual .visual_txt {  font-family: 'GOBOLD', Arial, sans-serif;text-transform: uppercase;  font-weight: 500;  align-items: baseline; color: var(--background-color); text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); position: absolute; left: 3VW; top: 12vh; z-index: 20; width: 100%; padding: 0 2rem; }
.visual .visual_txt span{font-family: "pretendard", sans-serif; text-transform: lowercase;}
.visual .visual_txt h3{font-size: 6rem; line-height: 1.3; margin: 30px 10px;}
.visual .visual_txt h3::after{content: "2025.4.30-5.9";display: block; font-size: 5rem; font-weight: 400;}

@media(max-width: 1500px){
    .visual .visual_txt h3{ font-size: 5rem; }
}
@media(max-width: 1200px){
    .visual .visual_txt h3{font-size: 4rem;}
}
@media(max-width: 800px){
    .visual .visual_txt h3{font-size: 3rem;}
}



.visual  .content_swiper {height: 93%;margin: 0; position: absolute; right: 0; bottom: 0; background: #000;}
.visual_con li{width: 100%;height: 100%; position: relative; object-fit: cover;}
.visual_con li a{filter: grayscale(0.35);}
.visual_con li a:hover{ filter: grayscale(0);transition: all 0.5s; }
.visual_con li img{width: 100%; height: 100%; object-fit: cover;object-position: top;}
.visual_con li>p{position: absolute; left: 0; bottom:  0; color: #fff; font-size: 1.8rem; background: linear-gradient(270deg, #00000000, #000); width: 100%;text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); font-weight: 500; padding: 30px;border-bottom: 1px solid #000; }
.visual_con li>p::before{content: "제26회 전주국제영화제"; display: block; font-size: 1.4rem;margin-bottom: 5px; }
.visual_con li>p::after{ content: "";display: inline-block; width: 25px; height: 25px; background: url(../img_logo/right.svg) no-repeat center / cover; border-radius: 50%; margin-left: 10px; opacity: 0; position: absolute; transition: all 0.4s;}
.visual_con li:hover p::after{ margin-left: 20px; opacity: 1;}




@keyframes roll{
    0%{transform: rotateZ(360deg);} 
    100%{transform: rotateZ(0deg);}
}


/* comming */
.coming{display: flex; align-items: center; margin: 0 auto;  }
.coming .coming_txt a{display: block; width: 250px;  height: 200px;  position: relative; overflow: hidden; } 
.coming .coming_txt .coming_txt{display: block; width: 250px;  height: 200px;  position: relative; } 
.coming .coming_txt a img{width: 100%; height: 100%;scale: 1.8;  animation: roll 10s ease-in-out infinite normal both ;}
.coming .coming_txt a h3{position: absolute; left: 50%; bottom: 15%; transform: translate(-50%, -50%); font-size: 2.4rem;}
.coming .coming_txt a h3::after{content: "전체보기"; display: block; text-align: center; font-size: 1.6rem;font-weight: 400;margin-top: 10px; opacity: 0; color:#fff; text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);}
.coming .coming_txt a h3{ transition: all 0.5s; }
.coming .coming_txt a:hover h3{font-weight: 800;bottom: 20%;  }
.coming .coming_txt a h3::after{transition: all 0.5s;  }
.coming .coming_txt a:hover h3::after{opacity: 1;   }
.coming_list{display: flex; text-align: center; align-items: flex-start;}
.coming_list li {display: flex; height: 200px;  justify-content: center; transition: all 0.5s; background: rgba(0, 0, 0, 0.05);}
.coming_list li:hover {background: rgba(0, 0, 0, 0.1);}
.coming_list li .coming_txt{display: block;   width: 100%; }
.coming_list li  p:nth-child(1){color: #fff;font-size: 1.4rem; background: #1a1a1a; display: block; padding: 10px 0; width: 100%; border-right: 1px solid rgba(255,255,255, 0.2) ; transition: all 0.5s;}
.coming_list li:hover  p:nth-child(1){background: #ff0000;}
.coming_list li  p:nth-child(2){display: block; padding: 25px 0 45px;width: 150px;  height: 50px; font-size: 1.4rem;  margin: 0 auto;}
.coming_list li  p:nth-child(3){ font-weight: 600;padding-bottom: 20px; transition:  all 0.5s;}
.coming_list li:hover  p:nth-child(3){ font-weight: 800; font-size: 1.7rem;}



@media(max-width: 800px){
    .coming{padding: 0 50px; transition: all 0.5s; margin: 100px 0;}
    .coming .coming_txt a:hover{margin-right: 5px;transition: all 0.5s;}
    .coming .coming_txt a h3::after{opacity: 1;transition: all 0.5s;}
}



@keyframes roll{
    0%{transform: rotateZ(360deg);} 
    100%{transform: rotateZ(0deg);}
}


/* alarm */ 
.alarm{ margin: 100px 0 ; }
.alarm .inner{display: grid; grid-template-columns: 1fr 1fr ;gap: 100px; }
.alarm .inner h3{ font-family: 'GOBOLD', Arial, sans-serif; font-weight: 100; letter-spacing: 3px;font-size: 3rem; margin-bottom: 20px; display: block; padding:  5px 0;  color: #FF7777; font-weight: 800; }

.alarm .inner ul h3:hover{color: #00A7CA; transition: all 1s;}
.alarm .inner ul li{ padding: 15px 0 ; border-bottom: 1.5px solid #ddd; transition: all 0.4s ;}
.alarm .inner ul li a{cursor: pointer;}
.alarm .inner ul li:hover{ background: #ddd; opacity: 1; border-bottom: 1.5px solid #ccc; padding: 15px 0 15px 15px; }
.alarm .inner ul li:hover a{font-weight: 500;}
.alarm .inner .news li{display: flex; justify-content: space-between;}
.alarm .inner .news li p{padding: 0 15px; color: #555; font-size: 1.4rem;}
.alarm .inner .news h3{color: #FFA568;}

@media(max-width: 1240px){
    .alarm{ margin: 100px 20px ; }
    .alarm .inner{display: block;  }
    .alarm .inner h3{text-align: center; margin-bottom: 50px;}
    .alarm .inner ul{margin-bottom: 100px;}
}



/* magazin */

.magazin .inner a{display: flex; justify-content:space-between;color: #eee; background: url(../img_jeonju.place/fall.png)no-repeat center / cover; margin-top: 100px; border-radius: 10px;transition: all 0.5s;  align-items: center;padding: 15px 50px; }
.magazin .inner:hover a{padding: 30px 50px; border-radius: 15px; }

.magazin .inner a h3{ font-family: 'GOBOLD', Arial, sans-serif; font-weight: 900; display: block;  border-radius: 10px 0 0 10px; color: #f00; text-shadow: 0 0 5px rgba(0,0,0,1);}
.magazin .inner a h3 img{width: 16px; margin-right: 7px;}

.magazin .inner a p:first-of-type{font-weight: 600; text-align: center;text-shadow: 0 0 5px rgba(0,0,0,1); position: relative; font-size: 1.8rem;}
.magazin .inner a p:first-of-type::after{content: "10월호 바로보기"; position: absolute; right: -150px; top: -5px; text-shadow: none; background: #fff; color: #000;  padding: 5px 10px; border-radius:20px 20px 20px 0; font-size: 1.6rem; opacity: 0; transition: all 0.2s ease-in-out; visibility: hidden;}
.magazin .inner:hover a p:first-of-type::after{opacity: 1;visibility: visible;}
@media(max-width: 1240px){
    .magazin .inner a{display: block; text-align: center; margin: 50px 20px 0; }
    .magazin .inner a p{padding-top: 5px;}
    .magazin .inner a p:first-of-type::after{position: absolute; right: -62px; top: -62px; text-shadow: none;   padding: 5px 10px;border: 1px solid rgba(0, 0, 0, 0.1);  border-radius:15px 15px 15px 0 ; font-size: 1.6rem; opacity: 0; transition: all 0.2s ease-in-out; visibility: hidden;}
.magazin .inner:hover a p:first-of-type::after{opacity: 1;visibility: visible;}
}



/* partner */
.partner{ text-align: center; }
.partner .inner{max-width:100%; padding: 0;}
.partner .partner_list{margin: 50px 0 ; }
.partner .partner_list li{ width: 150px; height: 30px; text-align: center;}
.partner .partner_list li img{width: 100%; height: 100%; object-fit: contain;}
.partner .partner_list .swiper-wrapper{transition-timing-function: linear !important;}

@media(max-width: 1200px){

.partner .partner_list{margin: 50px 0 75px; }
}

/* subscribe */
